*.log
*.trs
*.swp

/Makefile.in
/Makefile
/.deps
/.libs

BasicCall
basicClient
basicMessage
basicRegister
limpc
limpc-dum
setldpath.sh
testContactInstanceRecord
testDialogSetId
testPubDocument
testRedirectManager
testRequestValidationHandler
testSMIMEInvite
testSMIMEMessage
treg
